.section__Header {
    color: #a72118;
    background-color: #9c5d2d1a;
    max-width: 200px;
    margin: 4px auto;
    border: 6px solid rgb(74, 74, 139);
    padding: 5px;
    box-sizing: inherit;

}

.section__Header--greaterWidth {
    max-width: 320px;
}


.section__text {
    max-width: 700px;
    border: 5px dotted red;
    padding: 5px;
    margin: 20px auto;
    outline: 10px;
    line-height: 1.3;
}

.section__text--science {
    box-shadow: 5px 32px 77px #2C7538;

}

.section__text--Kutno {
    text-shadow: 12px 8px 20px #132415d4;
    line-height: 1.8;
}

.section__interestedHead {
    max-width: 100px;
    color: #2C7539;
    margin: 20px auto;
  }
  
  .section__interestedHead--innerWidth {
    max-width: 448px;
   
  }
  .section__books {
    color: rgb(64, 11, 255);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
  }

  .section__tableContainer {
    overflow-x: auto;
  }
  
  .section__sport {
    caption-side: top;
    max-width: 387px;
    text-align: center;
    margin: auto;
    margin-bottom: 21px;
    margin-top: 40px;
    padding: 10px;
    border: 5px solid blueviolet;
    font-size: 21px;
  }
  .section__listItem {

    background-color: rgb(218, 176, 126);
    padding: 21px;
    margin: -27px auto;
    line-height: 2.0;
  }
  
  .section__listItem--lineHeight {
    line-height: 3.0;
  }
  
  .section__markerList {
    list-style-type: "😉";
    list-style-position: inside;
    padding-left: 50px;
    padding: 33px;
    margin: 30px auto;
  
  }
  .section__link {
    color: rgb(71, 69, 37);
    text-decoration: none;
  }