.navigation__list {
    list-style-type: none;
    max-width: 300px;
    background-color: #8bc34a;
    border: 10px solid blue;
    border-radius: 40px 40px 50px 50px;
    padding: 20px;
    margin: 20px auto;
}
.navigation__listItem {
    margin: 10px 0;
    padding-left: 30px;
    margin: 10 auto;
    list-style-type: none;
}
.navigation__link {
    color: rgb(250, 234, 8);
    text-decoration: none;

}

.navigation__link:visited {
    color: crimson;
}

.navigation__link:active {
    color: rgb(4, 77, 4);
    border-bottom: 1px solid;
}

.navigation__link:active {
    color: blue;
}
