html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Ubuntu', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

.innerBackground {
  background-color: rgba(211, 207, 195, 0.781);
}


.button {
  FONT-WEIGHT: 300;
  background-color: chartreuse;
  border: 6px solid #113d11;
  font-size: 20px;
  margin: 20px auto;
  padding: 15px;
  caption-side: top;
  max-width: 300px;
  box-shadow: 20px 20px 20px rgb(221, 195, 195);
}