.table {
    border-collapse: collapse;
    width: 100%;
    
  
  }
  
  .table__caption {
    caption-side: top;
    max-width: 300px;
    text-align: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid blueviolet;
    font-size: 21px;
  }
  
  .table__cell {
    border: 1px solid rgb(148, 16, 16);
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

.table__cell--header {
  background-color: rgb(181 223 274 / 92%);
    color: #a23a15;
}

  .table__row:nth-child(even) {
    background-color: aquamarine;
  }
  
  .table__row:hover {
  
    background-color: aqua;
  }